@{
    ViewData["Title"] = "About";
}
<h2>About the App</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<p>
    This app was developed as part of a course at a coding academy.  The students walked through the "Building your first ASP.NET core MVC app with Visual Studio" tutorial
    and could then modify the app.  The jumbtron was changed to display on each page and an image was incorporated.  An extra column was added for the opinion field.
</p>