@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<p>
    Everyone loves movies but not everyone has the same opinion about them.  This app allows you to list your opinion about any movie you'd like to add.<br /> <br />

    This app was developed as part of a course at a coding academy.  The students walked through the "Building your first ASP.NET core MVC app with Visual Studio" tutorial
    and could then modify the app.  The jumbtron was changed to display on each page and an image was incorporated.  An extra column was added for the opinion field.
